version: 2.1

jobs:
  build:
    docker:
      - image: ubuntu:24.04
    steps:
      - checkout

      - run:
          name: Configure HTTPS sources
          command: |
            sed -i 's|http://archive.ubuntu.com|https://archive.ubuntu.com|g' /etc/apt/sources.list

      - restore_cache:
          keys:
            - apt-cache-v1-{{ arch }}

      - run:
          name: Update apt en installeer tools
          command: |
            apt-get update
            DEBIAN_FRONTEND=noninteractive TZ=Europe/Brussels apt-get install -y \
              gcc g++ cmake git libsfml-dev \
              libxrandr-dev libxcursor-dev libxi-dev libudev-dev \
              libflac-dev libvorbis-dev libgl1-mesa-dev libegl1-mesa-dev \
              libfreetype-dev libopenal-dev

      - save_cache:
          paths:
            - /var/cache/apt/archives
          key: apt-cache-v1-{{ arch }}

      - run:
          name: Build project
          command: |
            mkdir -p build
            cd build
            cmake ..
            make -j$(nproc)

      - run:
          name: Install
          command: cd build && make install

