version: 2.1

jobs:
  build:
    resource_class: small
    docker:
      - image: cimg/base:24.04
        auth:
          username: $DOCKER_HUB_USERNAME
          password: $DOCKER_HUB_PASSWORD
    steps:
      - checkout

      # Install dependencies
      - run: |
        sudo apt-get update -y
        sudo apt-get install -y \
          build-essential cmake git libsfml-dev \
          libx11-dev libxrandr-dev libxcursor-dev libxi-dev libxext-dev libudev-dev
      - run: sudo apt update
      - run: cmake --version
      - run: mkdir -p build
      - run: cd build && cmake ..
      - run: cd build && make
      - run: cd build && make install
