version: 2.1

jobs:
  build:
    resource_class: small
    docker:
      - image: cimg/base:24.04
        auth:
          username: $DOCKER_HUB_USERNAME
          password: $DOCKER_HUB_PASSWORD
    steps:
      - checkout
      - run: apt update
      - run: cmake --version
      - run: mkdir -p build
      - run: cd build && cmake ..
      - run: cd build && make
      - run: cd build && make install
