version: 2.1

jobs:
  build:
    resource_class: small
    docker:
      - image: cimg/base:2025.10 
        auth:
          username: $DOCKER_HUB_USERNAME
          password: $DOCKER_HUB_PASSWORD
    steps:
      - checkout
      - run: sudo apt update
      - run: sudo DEBIAN_FRONTEND=noninteractive TZ=Europe/Brussels apt install -y gcc g++ libsfml-dev cmake git xorg-dev \
      libx11-dev libxrandr-dev libxcursor-dev libxi-dev libxext-dev \
      libudev-dev libopenal-dev
      - run: sudo mkdir -p build
      - run: sudo bash -c "cd build && cmake .. && make && make install"
